<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trapick.mypage.mapper.MyPageMapper">

	<select id="scheduleList" resultType="trapick.schedule.domain.ScheduleVO">
		select * from schedule
		where
			user_idx = #{user_idx}
	</select>

	<select id="userInfo" resultType="trapick.feed.domain.UserVO">
		select * from users
		where
			user_idx = #{user_idx}
	</select>
	
	<update id="updateUserInfo">
		update users
		set
			id = #{id},
			pw = #{pw},
			email = #{email}
		where 
			user_idx = #{user_idx}
	</update>

	<delete id="delete">
		delete schedule
		where
			schd_idx = #{schd_idx}
	</delete>

</mapper>